
<div class="todo">
	<%if todo_item.completed? %>


			<p style="opacity: 0.4;"><strike><%= todo_item.content %></strike>
			
			



			<%= link_to uncomplete_rotation_todo_item_path(@rotation, todo_item.id), :class=>"uncomplete", method: :patch do%>
			<i style="opacity: 0.4;" class="fa fa-plus"></i>
			<%end%>


			<%= link_to rotation_todo_item_path(@rotation, todo_item.id), :class=>"delete", method: :delete, data:{confirm: "Are you sure?"} do%>
			<i style="opacity: 0.4;" class="fa fa-trash-o"></i>
			<%end%>
		</p>
		<p style="opacity: 0.4;">Completed on: <%=todo_item.completed_at.strftime("%B %d, %Y") %></p>


	</div>

	<%else %>

		<p><%= todo_item.content %>
			Due: <%= todo_item.due_date %>
		


		<%= link_to complete_rotation_todo_item_path(@rotation, todo_item.id), :class=>"complete", method: :patch do%>
		<i class="fa fa-check"></i>
		<%end%>


		<%= link_to rotation_todo_item_path(@rotation, todo_item.id), :class=>"delete", method: :delete, data:{confirm: "Are you sure?"} do %>
			<i class="fa fa-trash-o"></i>
		<%end%>
		</p>
		<p>Due on: <%=todo_item.due_date.strftime("%B %d, %Y") %></p>

	<%end%>
</div>
