<div class="app-container clearfix">
    <div class="main left clearfix">
        <div class=" box-container">
            <div class="box details">
                <h2><%= @rotation.title %></h2>
                <h3 class="left"> Start: <%= @rotation.start_date %></h3>
                <h3 class="left"> End: <%= @rotation.end_date %></h3>

                <div class="clear"></div>
                
                <div class="info description">
                    <%= @rotation.description %>
                </div>


                <div class="row">
                    <div class="info col-md-3">
                        <p>Todo</p>
                        <span><i class="fa fa-thumb-tack"></i>
                        <%= @rotation.todo_items.count %></span>
                    </div>
                    <div class="info col-md-3">
                        <p>Students</p>
                        <span><i class="fa fa-users"></i>
                        <%= @rotation.coops.count %></span>
                    </div>
                    <div class="info col-md-3">
                        <p>Todo</p>
                        <span><i class="fa fa-bell"></i>
                        <%= @rotation.rotation_updates.count %></span>
                    </div>  
                </div> 

            <div class="row">
                <%= link_to  edit_rotation_path(@rotation) do%>
                <i class="fa fa-pencil"></i>
                <%end%>
                <%= link_to  @rotation, :class=>"delete",method: :delete, data: { confirm: 'Are you sure?' } do%>
                <i class="fa fa-trash-o"></i>
                <%end %>
            </div>

            </div>

            <div class="box tasks">
                <h2> To Do </h2>
                <div id="todo_items_wrapper">
                    <%= render @rotation.todo_items %>

                    <div id="form">
                        <%= render "todo_items/form" %>
                    </div>
                </div>
            </div>

            <div class="box Student">
                <h2> Students </h2>
                <div id="coops_wrapper">
                    <%= render @rotation.coops %>
                    <div id="form">
                        <%= render "coops/form" %>
                    </div>
                </div>
            </div>

            <div class="box update">
                <h2> Update</h2>
                <div id="coops_wrapper">
                    <%= render @rotation.rotation_updates %>
                    <div id="form">
                        <%= render "rotation_updates/form" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<%= link_to 'Edit', edit_rotation_path(@rotation) %> |
<%= link_to 'Back', rotations_path %>
