<p id="notice"><%= notice %></p>
<div class="container">
	<div class="row">
		<div class="col-md-4">
        <div class="table-responsive">
          <table class="table">
            <tbody>
                <tr>
                <td><strong>Title:</strong></td>
                <td><%= @rotation.title %></td>
                </tr>

                <tr>
                <td><strong>Description:</strong></td>
                <td><%= @rotation.description %></td>
                </tr>

                <tr>
                <td><strong>Start:</strong></td>
                <td><%= @rotation.start_date %></td>
                </tr>       

                <tr>
                <td><strong>End:</strong></td>
                <td><%= @rotation.end_date %></td>
                </tr>             
            </tbody>
          </table>
        </div>
      </div>
	</div>
</div>
<%= link_to 'Edit', edit_rotation_path(@rotation) %> |
<%= link_to 'Back', rotations_path %>
